:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue";
}

body {
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 100vw;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: start;
}

.hamburger {
  display: none;
}

.dropbtn {
  color: var(--medium-gray);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: var(--almost-black);
}

.dropbtn:hover img {
  transform: rotate(180deg);
}

.feature__dropdown,
.company__dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -50px;
  background-color: var(--almost-white);
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.feature__dropdown:hover .dropdown-content,
.company__dropdown:hover .dropdown-content {
  display: block;
}

.login__register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__btn {
  color: var(--medium-gray);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.login__btn:hover {
  color: var(--almost-black);
}

.register__btn {
  color: var(--medium-gray);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--almost-black);
  border-radius: 10px;
  padding: 10px 30px;
}

.register__btn:hover {
  color: var(--almost-black);
}

/* Hero Section */
.hero__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  margin: auto;
}

.left {
  padding: 140px 0 0 0;
  margin-right: 150px;
}

.big__text {
  font-size: 67px;
}

.down {
  padding-bottom: 30px;
}

.small__text {
  font-size: 22px;
  color: var(--medium-gray);
  padding-bottom: 40px;
}

.btn {
  color: var(--almost-white);
  background-color: var(--almost-black);
  border-radius: 10px;
  font-weight: 600;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: var(--almost-black);
  background-color: var(--almost-white);
}

.img__sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
}

.desktop__img {
  width: 350px;
  height: 500px;
}

.mobile__img {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--medium-gray);
  text-align: center;
  color: var(--almost-white);
}

footer a {
  color: var(--almost-white);
}
