:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue";
}

nav {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: start;
}

.hamburger {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  color: var(--medium-gray);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: var(--almost-black);
}

/* The container <div> - needed to position the dropdown content */
.feature__dropdown,
.company__dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--almost-white);
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #eee;
}

/* Show the dropdown menu on hover */
.feature__dropdown:hover .dropdown-content,
.company__dropdown:hover .dropdown-content {
  display: block;
}

.login__register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__btn {
  color: var(--medium-gray);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.login__btn:hover {
  color: var(--almost-black);
}

.register__btn {
  color: var(--medium-gray);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--almost-black);
  border-radius: 10px;
  padding: 10px 30px;
}

.register__btn:hover {
  color: var(--almost-black);
}
